@{
    ViewData["Title"] = "Binary Choice";
}

<div class="container">
    <div class="card center">
        <div class="card-body">
            <h5 class="card-title">Who Said it?</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="center">
                <h5 class="card-title center">James Brown?</h5>
                <a href="#" class="card-link btn btn-outline-info col-4">Yes</a>
                <a href="#" class="card-link btn btn-outline-info col-4">No</a>
            </div>
        </div>
    </div>
</div>