@{
    ViewData["Title"] = "Binary Choice";
}

@model BinaryQuoteViewModel;

<div class="container">
    <div class="card center">
        <div class="card-body">
            <h5 class="card-title">Who Said it?</h5>
            <p class="card-text">@Model.Content</p>
            <div class="center">
                <h5 class="card-title center">@Model.SugestedAuthorName?</h5>
                <a href="@Model.YesAnswerId" class="card-link btn btn-outline-info col-4">Yes</a>
                <a href="@Model.NoAnswerId" class="card-link btn btn-outline-info col-4">No</a>
            </div>
        </div>
    </div>
</div>
