@{
    ViewData["Title"] = "Binary Choice Result";
}

@model AnswerViewModel;

<div class="jumbotron col-lg-12">
    <h2 class="display-5 text-center">"@Model.AnswerText"</h2>
    <h5 class="center pt-5"><a class="btn btn-success" asp-controller="Quiz" asp-action="BinaryChoice">Next Quote</a></h5>
</div>