@{
    ViewData["Title"] = "Multiple Choice";
}

@model MultipleChoiceViewModel

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Who Said it?</h5>
        <p class="card-text">@Model.QuoteText</p>
        <form method="post" asp-controller="Quiz" asp-action="MultipleChoice">

            @foreach (var author in Model.Authors)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="authorId" value="@author.Id" id="authorId">
                    <label class="form-check-label" for="authorId">
                        <b>@author.Name</b>
                    </label>
                </div>
            }
            
            <div class="pt-3">
                <input type="hidden" name="quoteId" value="@Model.QuoteId" />
                <input type="submit" class="btn btn-outline-info center" />
            </div>
        </form>
    </div>
</div>
