@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome to the Famous Quote Quiz!</h1>
    <div class="display-3 pt-3">
        <a asp-controller="Home" asp-action="StartQuiz" class="btn btn-warning">Start the quiz!</a>
    </div>
</div>
