@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Famous Quote Quiz!</h1>
    <a asp-controller="Home" asp-action="StartQuiz">Start the quiz!</a>
</div>
